.unete-ahora-container.opened
    .title-section
        .normal-text ¿Aún no eres curranner?
        .decorated-text ¡Únete ahora!
    form.unete-form
        .form-group.single
            input.name(type="text", placeholder="nombre completo")
        .form-group.pair
            input.email(type="email", placeholder="email")
            input.phone(type="text", placeholder="teléfono")
        .form-group.pair
            input.password(type="password", placeholder="contraseña")
            input.confirm-password(type="password", placeholder="confirmar contraseña")
        .form-group.single
            .selector
                .name tu historia
                .description Si quieres, cuéntanos ya tu historia
                .arrow
                    a(href="unete1.html")
            .description-text Pequeñas palabras que inspiran a los demás
            .text-container
                textarea
            .icons
                .attachment
                    .icon.attach
                    .name Adjuntar imagen
                .preview
                    .icon.preview
                    .name Previsualizar
        .form-button.active únete