.unete-ahora-container
    .title-section
        .normal-text ¿Aún no eres curranner?
        .decorated-text ¡Únete ahora!
    form.unete-form
        .form-group.single
            input.name(type="text", placeholder="nombre completo")
        .form-group.pair
            input.email(type="email", placeholder="email")
            input.phone(type="text", placeholder="teléfono")
        .form-group.pair
            input.password(type="password", placeholder="contraseña")
            input.confirm-password(type="password", placeholder="confirmar contraseña")
        .form-group.single
            .selector
                .name tu historia
                .description Si quieres, cuéntanos ya tu historia
                .arrow(onclick="openTextArea()")
            .description-text.display-none Pequeñas palabras que inspiran a los demás
            .text-container.display-none
                textarea
            .icons.display-none
                .attachment
                    .icon.attach
                    .name Adjuntar imagen
                .preview
                    .icon.preview
                    .name Previsualizar
        .form-button(id="b1") Un paso más... ahora a por tu bolsa

script.
    function openTextArea() {
        var descriptionText = document.getElementsByClassName('description-text')[0];
        var textContainer = document.getElementsByClassName('text-container')[0];
        var icons = document.getElementsByClassName('icons')[0];
        var formButton = document.getElementById('b1');
        var container = document.getElementsByClassName('unete-ahora-container')[0];
        if (descriptionText.classList.contains('display-none')) {
            descriptionText.classList.remove('display-none')
            textContainer.classList.remove('display-none')
            icons.classList.remove('display-none')
            container.style.height = '1200px';
            formButton.classList.add('active');
        } else {
            descriptionText.classList.add('display-none')
            textContainer.classList.add('display-none')
            icons.classList.add('display-none')
            container.style.height = '976px';
            formButton.classList.remove('active');
        }
    }