.unete-ahora-container
    height: 976px
    background-color: #ececec
    &.opened
        height: 1175px
    .title-section
        .decorated-text
            line-height: 1.2
            background-size: 411px
            width: 411px
            height: 80px
    .unete-form
        width: 1100px
        margin: 80px auto
        .form-group
            width: 100%
            margin-bottom: 40px
            display: flex
            flex-direction: column
            input
                border: solid 3px white
                background-color: #ececec
                height: 67px
                padding-left: 41px
                line-height: 1.8
                font-family: "AkzidenzGroteskBQ-MdCnd"
                font-size: 24px
                color: #0e1c30
                text-transform: uppercase
            &.single
                input
                    width: 100%
            &.pair
                display: flex
                flex-direction: row
                justify-content: space-between
                input
                    width: 49%
            .selector
                position: relative
                width: 100%
                height: 67px
                background-color: white
                display: flex
                flex-direction: row
                padding-left: 40px
                align-items: center
                cursor: pointer
                .name
                    font-family: "AkzidenzGroteskBQ-MdCnd"
                    font-size: 24px
                    text-transform: uppercase
                .description
                    font-family: "AkzidenzGroteskBQ-Reg"
                    font-size: 20px
                    text-transform: none
                    padding-left: 30px
                .arrow
                    position: absolute
                    right: 15px
                    background-position: center
                    background-repeat: no-repeat
                    background-size: 18px
                    width: 25px
                    height: 25px
                    cursor: pointer
                    background-image: url('../img/flecha2.png')
                    a
                        padding: 13px
            .description-text
                height: 20px
                background-color: white
                font-family: 'AkzidenzGroteskBQ-Reg'
                font-size: 16.1px
                color: #0e1c30
                text-transform: none
                padding-left: 40px
            .text-container
                height: 235px
                background-color: white
                padding: 20px 40px 15px
                textarea
                    width: 100%
                    height: 200px
                    font-family: 'AkzidenzGroteskBQ-Reg'
                    font-size: 15px
            .icons
                display: flex
                flex-direction: row
                width: 100%
                height: 40px
                background-color: white
                padding-left: 40px
                .preview
                    margin-left: 40px
                .attachment, .preview
                    display: flex
                    flex-direction: row
                    cursor: pointer
                    .icon
                        background-position: center
                        background-repeat: no-repeat
                        background-size: 18px
                        width: 25px
                        height: 25px
                        &.attach
                            background-image: url('../img/attach-icon.png')
                        &.preview
                            background-image: url('../img/preview-icon.png')
                    .name
                        font-family: 'AkzidenzGroteskBQ-MdCnd'
                        font-size: 16.1px
                        color: #9f9f9f
        .form-button
            cursor: pointer
            font-family: "AkzidenzGroteskBQ-BdCnd"
            font-size: 28px
            width: 100%
            height: 75px
            background-color: #a2a2a2
            color: white
            text-align: center
            line-height: 75px
            &.active
                background-color: #c00d1f

@media screen and (max-width: 1350px)
    .unete-ahora-container
        height: 840px
        .title-section
            font-size: 60px
            .decorated-text
                background-size: 350px
                width: 350px
                height: 75px
                line-height: 1.25
        .unete-form
            margin: 35px auto
            .form-group
                width: 80%
                margin: 0 auto 40px
                input
                &.single
                    input
                &.pair
                    input
                .selector
                    .name
                    .description
                    .arrow
            .form-button
                width: 80%
                margin: 0 auto

@media screen and (max-width: 1110px)
    .unete-ahora-container
        height: auto
        padding: 50px 0
        .title-section
            flex-direction: column
        .unete-form
            width: 100%

@media screen and (max-width: 767px)
    .unete-ahora-container
        .title-section
            .decorated-text
                background-size: 100%
                width: 96%
        .unete-form
            margin: 70px auto
            .form-group
                width: 95%
                margin: 0 auto 20px
                &.single
                    input
                &.pair
                    flex-direction: column
                    width: 95%
                    input
                        width: 100%
                        &.email, &.password
                            margin-bottom: 20px
                .selector
                    .description
                        display: none
                .description-text
                    font-size: 14px
                .icons
                    .preview
                        margin-left: 10px
            .form-button
                height: 75px
                line-height: 2.6

::-webkit-input-placeholder
    font-family: "AkzidenzGroteskBQ-MdCnd"
    font-size: 24px
    color: #0e1c30

::-moz-placeholder
    font-family: "AkzidenzGroteskBQ-MdCnd"
    font-size: 24px
    color: #0e1c30

:-ms-input-placeholder
    font-family: "AkzidenzGroteskBQ-MdCnd"
    font-size: 24px
    color: #0e1c30

:-moz-placeholder
    font-family: "AkzidenzGroteskBQ-MdCnd"
    font-size: 24px
    color: #0e1c30
