header
    height: 110px
    padding: 10px
    background-color: white
    display: flex
    flex-direction: row
    .logo
        width: 50%
        height: auto
        display: flex
        align-items: center
        padding-left: 20px
        .joma-img
            background-image: url('../img/logo-joma.png')
            background-size: 200px
            background-repeat: no-repeat
            height: 45px
            width: 215px
    .navbar
        width: 50%
        height: auto
        display: flex
        flex-direction: row
        align-items: center
        .menu-point
            padding: 0 15px
            &.active
                font-weight: bold
            &#elclub
                background-color: #e0e0e0
                border-radius: 50%
                height: 80px
                padding-top: 28px