.unete-container
    display: flex
    flex-direction: column
    align-items: center
    background-image: url('../img/club.jpg')
    background-size: contain
    background-repeat: no-repeat
    height: 723px
    text-transform: uppercase
    color: #ffffff
    padding: 12% 0
    .main-text
        font-size: 90px
        line-height: 1.34
        text-align: center
    .button
        margin-top: 40px
        width: 514px
        height: 113px
        background-color: #6fa742
        cursor: pointer
        .text
            font-size: 20px
            text-align: center
            line-height: 115px

@media screen and (max-width: 1350px)
    .unete-container
        padding: 10% 0
        .main-text
            font-size: 80px
        .button
            width: 414px
            height: 83px
            .text
                font-size: 18px
                line-height: 85px

@media screen and (max-width: 1110px)
    .unete-container
        padding: 7% 0
        .main-text
            font-size: 60px
        .button
            width: 384px
            height: 73px
            .text
                font-size: 16px
                line-height: 75px

@media screen and (max-width: 767px)
    .unete-container
        background-size: 1000px
        background-position: center 0
        background-color: red
        padding: 7% 0
        .main-text
            font-size: 60px
        .button
            width: 384px
            height: 73px
            .text
                font-size: 16px
                line-height: 75px