.header-container
    position: fixed
    top: 0
    display: flex
    flex-direction: row
    width: 100%
    height: 75px
    background-color: white
    z-index: 20
    box-shadow: 0px 3px 26px -8px rgb(0, 22, 45)
    .curra-y-corre
        width: 50%
        height: auto
        display: flex
        align-items: center
        .logo
            background-image: url('../img/logo.png')
            background-repeat: no-repeat
            background-size: 350px
            height: 56px
            width: 450px
            margin: 0 auto
            cursor: pointer
    .menu-points
        display: flex
        flex-direction: row
        align-items: center
        width: 50%
        text-transform: uppercase
        .menu-text
            font-family: "AkzidenzGroteskBQ-BdCnd"
            color: #0b1c32
            text-align: left
            font-size: 21px
            margin-right: 60px
            cursor: pointer
            &.menu-club
                background-image: url('../img/boton_club.png')
                background-repeat: no-repeat
                background-size: 85px
                height: 52px
                width: 90px
                color: white
                margin-right: 0
                display: flex
                align-items: center
                padding-left: 10px
.home-container
    width: 70%
    margin: 100px auto 0
    display: flex
    flex-direction: row
    height: 475px
    .home-text-block
        width: 50%
        display: flex
        flex-direction: column
        justify-content: center
        .home-text
            font-family: "AkzidenzGroteskBQ-MdCnd"
            background-color: #0e1c30
            color: white
            text-align: left
            font-size: 58px
            text-transform: uppercase
            padding: 0 15px
            height: 55px
            line-height: 1
            &.first
                width: 460px
            &.second
                width: 235px
            &.third
                width: 443px
            &.fourth
                width: 300px
    .home-logo
        background-image: url('../img/slider.png')
        background-repeat: no-repeat
        background-position: right
        background-size: 584px
        height: 460px
        width: 55%

.quedadas-container, .productos-container, .todas-ventajas-container, .unete-ahora-container
    text-transform: uppercase
    background-color: #f4f4f4
    .title-section
        font-family: "AkzidenzGroteskBQ-BdCnd"
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 100%
        height: 150px
        text-align: center
        font-size: 70px
        line-height: 67px
        font-weight: bold
        .normal-text
            color: #0b1c32
        .decorated-text
            background-image: url('../img/fondo_titulo.png')
            background-repeat: no-repeat
            background-size: 300px
            width: 300px
            height: 67px
            color: white
            margin-left: 10px
    .first-row, .second-row
        height: 450px
        width: 75%
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-around
        .box
            width: 480px
            height: 95%
            background-size: cover
            background-repeat: no-repeat
            position: relative
            .box-text-container
                position: absolute
                bottom: -21px
                right: 0
                height: 140px
                width: 98%
                padding: 20px 50px 0
                background-image: url('../img/fondo_titulo_quedada.png')
                background-repeat: no-repeat
                .box-title
                    font-family: "AkzidenzGroteskBQ-BdCnd"
                    font-size: 38.7px
                    line-height: 1.1
                    text-align: left
                    color: #0b1c32
                .box-description
                    font-family: "AkzidenzGroteskBQ-Medium"
                    text-transform: none
                    font-size: 17.3px
                    font-weight: 500
                    text-align: left
                    color: #6fa742
            &.one, &.three
                background-image: url('../img/quedada1.jpg')
            &.two, &.four
                background-image: url('../img/quedada2.jpg')
            &.three, &.four
                margin-top: 75px

.quedadas-container
    height: 1200px

.productos-container
    width: 90%
    height: auto
    margin: 0 auto
    background-color: white
    .product-box
        width: 90%
        height: 400px
        border: 1px solid #e5e5e5
        margin: 20px auto
        display: flex
        flex-direction: row
        align-items: center
        .product-img
            background-repeat: no-repeat
            background-position: center
            background-size: 280px
            width: 50%
            height: 400px
            &.camiseta
                background-image: url('../img/camiseta.png')
            &.mallas
                background-image: url('../img/mallas.jpg')
            &.calcetines
                background-image: url('../img/calcetines.png')
            &.gorra
                background-image: url('../img/gorra.jpg')
        .product-info
            display: flex
            flex-direction: column
            padding: 30px 10px 30px 0px
            .product-title
                font-family: "AkzidenzGroteskBQ-BdCnd"
                color: #0b1c32
                font-size: 30px
            .product-description
                font-family: "AkzidenzGroteskBQ-Reg"
                color: #adadad
                font-size: 21px
                text-transform: none
                line-height: 1
            .product-selection
                display: flex
                flex-direction: row
                margin-top: 25px
                font-size: 24px
                color: #0b1c32
                font-family: "AkzidenzGroteskBQ-MdCnd"
                .product-size
                    display: flex
                    flex-direction: column
                    font-size: 15px
                    color: #0b1c32
                    .size-text
                        font-family: "AkzidenzGroteskBQ-MdCnd"
                        font-size: 24px
                        height: 30px
                    .numbers
                        font-family: "AkzidenzGroteskBQ-BdCnd"
                        font-size: 30px
                        display: flex
                        flex-direction: row
                        color: #adadad
                        .number
                            padding-right: 10px
                            cursor: pointer
                            &.active
                                color: #0b1c32
            .add-button
                display: flex
                flex-direction: row
                margin-top: 25px
                .button-text
                    font-family: "AkzidenzGroteskBQ-BdCnd"
                    font-size: 24px
                    background-color: #e0051a
                    color: white
                    height: 46px
                    width: 235px
                    text-align: center
                    line-height: 47px
                    cursor: pointer
                    &:hover
                        background-color: #d40b1e
                .old-price
                    font-family: "AkzidenzGroteskBQ-MdCnd"
                    color: #c8c8c8
                    font-size: 59px
                    line-height: 50px
                    text-decoration: line-through
                    margin: 0 15px
                .free-price
                    font-family: "AkzidenzGroteskBQ-MdCnd"
                    font-size: 25px
                    color: #45ab34
                    line-height: 70px

.todas-ventajas-container
    background-color: white
    width: 70%
    margin: 0 auto
    display: flex
    flex-direction: column
    text-transform: uppercase
    .first-row-ventajas, .second-row-ventajas
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 30px
        .box
            display: flex
            flex-direction: column
            width: 30%
            text-align: center
            color: #0b1c32
            .box-img
                background-position: center
                background-repeat: no-repeat
                background-size: 100px
                width: 100px
                height: 140px
                margin: 0 auto
                &.discount
                    background-image: url('../img/icono1.png')
                &.real-test
                    background-image: url('../img/icono_prueba.png')
                &.presents
                    background-image: url('../img/icono3.png')
                &.merchandising
                    background-image: url('../img/icono_merchan.png')
                &.bolsa-corredor
                    background-image: url('../img/icono_bolsa_off.png')
                &.much-more
                    background-image: url('../img/icono_mas.png')
            .box-title
                margin: 0 auto
                font-size: 35px
                font-family: "AkzidenzGroteskBQ-BdCnd"
            .box-description
                font-family: "AkzidenzGroteskBQ-Reg"
                text-transform: none
                font-size: 25px
                margin: 0 auto
    .todas-ventajas-img
        background-image: url('../img/bolsa.png')
        background-position: center
        background-repeat: no-repeat
        background-size: 500px
        height: 500px
        width: 500px
        margin: 0 auto

.footer-container
    width: 100%
    height: 500px
    background-color: #51ae3b
    padding: 25px 0
    text-align: center
    color: white
    .footer-row-main
        display: flex
        flex-direction: row
        margin: 0 auto
        align-items: center
        justify-content: center
        .social-links
            display: flex
            flex-direction: column
            padding-right: 28px
            border-right: 2px solid white
            .hashtag
                font-family: "AkzidenzGroteskBQ-MdCnd"
                font-size: 48px
            .social-icons
                display: flex
                flex-direction: row
                .social-logo
                    background-position: center
                    background-repeat: no-repeat
                    background-size: 25px
                    height: 25px
                    width: 25px
                    cursor: pointer
                    margin: 0 3px
                    &.facebook
                        background-image: url('../img/icono_fb.png')
                        background-size: 15px
                        height: 30px
                    &.twitter
                        background-image: url('../img/icono_tw.png')
                    &.youtube
                        background-image: url('../img/icono_youtube.png')
                    &.instagram
                        background-image: url('../img/icono_instagram.png')
        .joma-logo
            background-image: url('../img/logo_footer.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 200px
            height: 100px
            width: 185px
    .footer-text
        font-size: 20px
        margin-top: 15px
        font-family: "AkzidenzGroteskBQ-MdCnd"
    .footer-row-colaborators
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 5px
        .tomtom
            background-image: url('../img/logo_tomtom.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 135px
            height: 35px
            width: 135px
        .alphabet
            background-image: url('../img/logo_alphabet.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 120px
            height: 35px
            width: 120px
    .footer-logo-federation
        background-image: url('../img/logo_rfea.jpg')
        background-position: center
        background-repeat: no-repeat
        background-size: 120px
        height: 100px
        width: 120px
        margin: 10px auto
    .footer-terms
        display: flex
        flex-direction: row
        text-transform: uppercase
        cursor: pointer
        justify-content: center
        .term-text
            font-family: "AkzidenzGroteskBQ-MdCnd"
            font-size: 20px
            margin-top: 50px
            margin-left: 8px
            span
                margin-left: 8px

.call-to-action
    position: fixed
    right: 0
    top: calc(100% - 200px)
    z-index: 15
    background-image: url('../img/boton_unete.png')
    background-position: center
    background-repeat: no-repeat
    background-size: 220px
    height: 150px
    width: 220px
    color: white
    cursor: pointer
    .call-to-action-text
        display: flex
        flex-direction: column
        text-align: right
        padding-right: 5px
        padding-top: 37px
        .call-to-action-title
            font-family: "AkzidenzGroteskBQ-MdCnd"
            text-transform: uppercase
            font-size: 40.3px
            padding-right: 7px
            height: 45px
        .call-to-action-subtitle
            font-family: "AkzidenzGroteskBQ-Reg"
            font-size: 15.4px

@media screen and (max-width: 1600px)
    .home-container
        width: 80%
        .home-text-block
            width: 45%
        .home-logo
            background-size: 500px
            width: 55%
    .todas-ventajas-container
        width: 80%

@media screen and (max-width: 1350px)
    .header-container
        .curra-y-corre
            width: 40%
            .logo
                background-size: 300px
                width: 300px
                height: 45px
        .menu-points
            width: 60%
    .home-container
        width: 85%
        .home-text-block
            width: 50%
            .home-text
                font-size: 55px
                height: 55px
                &.first
                    width: 450px
                &.second
                    width: 230px
                &.third
                    width: 430px
                &.fourth
                    width: 285px
        .home-logo
            background-size: 440px
            width: 50%
    .quedadas-container
        .first-row, .second-row
            width: 90%
    .todas-ventajas-container
        width: 92%
        .first-row-ventajas, .second-row-ventajas
            .box
                width: 30%
    .productos-container
        width: 100%

@media screen and (max-width: 1110px)
    .header-container
        .curra-y-corre
            margin-left: 30px
        .menu-points
            .menu-text
                display: none
                &.menu-club
                    display: none
    .home-container
        width: 100%
        flex-direction: column-reverse
        align-items: center
        height: auto
        margin: 100px auto 70px
        .home-text-block
            width: initial
            align-items: center
            .home-text
                &.first
                    width: 440px
                &.second
                    width: 225px
                &.third
                    width: 420px
                &.fourth
                    width: 283px
        .home-logo
            background-size: 500px
            width: 500px
            height: 430px
            margin-top: 0
    .quedadas-container
        .first-row, .second-row
            width: 100%
            .box
                width: 370px
                .box-text-container
                    .box-title
                        font-size: 36.7px
    .todas-ventajas-container
        width: 95%
        .title-section
            font-size: 60px
            line-height: 1.2
    .productos-container
        width: 95%
        .title-section
            font-size: 62px
        .product-box
            height: 350px
            .product-img
                background-size: 250px
                height: 350px
                width: 100%
            .product-info
                .product-title
                    font-size: 25px
                .product-description
                    font-size: 19px
                .product-selection
                    font-size: 19px
                    .product-size
                        .size-text
                            font-size: 19px
                        .numbers
                            font-size: 25px
                .add-button
                    .button-text
                        font-size: 19px
                        width: 110px
                    .old-price
                        font-size: 50px
                    .free-price
                        font-size: 19px
    .footer-container
        height: 500px

@media screen and (max-width: 767px)
    .header-container
        .curra-y-corre
            width: 75%
            padding-left: 10px
    .home-container
        .home-text-block
            width: 100%
            .home-text
                text-align: center
                &.first
                    width: 100%
                &.second
                    width: 100%
                &.third
                    width: 100%
                &.fourth
                    width: 100%
        .home-logo
            background-size: 330px
            width: 330px
            height: 275px
    .quedadas-container
        height: auto
        padding-bottom: 100px
        .title-section
            flex-direction: column
        .first-row, .second-row
            flex-direction: column
            align-items: center
            height: 800px
            .box
                width: 100%
                margin-top: 60px
                .box-text-container
                    padding: 20px 30px 0
                    height: 120px
                    .box-description
                        font-size: 16.3px
                        line-height: 1.1
    .todas-ventajas-container
        width: 100%
        .title-section
            flex-direction: column
            margin-bottom: 40px
        .first-row-ventajas, .second-row-ventajas
            flex-direction: column
            margin: 0
            .box
                width: 90%
                margin: 20px auto
        .todas-ventajas-img
            background-size: 325px
            width: 100%
            height: 325px
    .productos-container
        .title-section
            flex-direction: column
            margin-top: 30px
        .product-box
            flex-direction: column
            height: auto
            width: 100%
            margin-top: 70px
            .product-img
                background-size: 150px
                height: 200px
                &.calcetines, &.gorra
                    background-size: 170px
            .product-info
                padding: 0 50px 30px
                text-align: center
                .product-selection
                    margin: 25px auto 0
                    .product-size
                        margin-left: 40px
                .add-button
                    flex-direction: column
                    .button-text
                        margin: 0 auto
                    .old-price
                        margin: 10px auto
                    .free-price
                        margin: 0 auto
    .footer-container
        height: 600px
        .footer-row-main
            .social-links
                padding-right: 5px
            .joma-logo
                background-size: 175px
                width: 160px
        .footer-terms
            flex-direction: column
            .term-text
                margin-top: 0
                span
                    display: none
    .call-to-action
        background-size: 250px
        height: 165px
        width: 250px
        .call-to-action-text
            padding-right: 6px
            padding-top: 38px
            .call-to-action-title
                font-size: 49.3px
                padding-right: 5px
                height: 50px
            .call-to-action-subtitle
                font-size: 16.4px
