.header
    position: fixed
    top: 0
    z-index: 10
    height: 110px
    width: 100%
    padding: 10px
    background-color: transparent
    display: flex
    flex-direction: row
    .logo
        height: 100%
        background-color: red
    //     .joma-img
    //         background-image: url('../img/logo-joma.png')
    //         background-size: 200px
    //         background-repeat: no-repeat
    //         height: 45px
    //         width: 215px
    .navbar
        background-color: yellow
        display: flex
        flex-direction: row
        align-items: center
        text-transform: uppercase
        height: 100%
        font-size: 22.5px
        .menu-point
            margin-left: auto
            padding: 0 15px
            &.active
                font-weight: bold

.introduction-container
    background-color: green
    height: 100vh
    width: 100%
    padding-top: 180px
    .main-content
        background-color: blue
        height: 100%
        display: flex
        flex-direction: column
        align-items: right
        .ccc-logo
            background-color: pink
            width: 364px
            height: 240px
            margin-left: auto
        .text
            margin-top: 20px
            text-transform: uppercase
            text-align: right
            .title
                line-height: 60px
                font-size: 60px
                font-weight: bold
            .subtitle
                font-size: 40px
                line-height: 40px

.quedadas-container
    display: flex
    flex-direction: row
    height: 700px
    width: 100%
    margin: 50px auto
    .column
        display: flex
        flex-direction: column
        width: 50%
        height: 100%
        .quedadas-block
            width: 80%
            height: 50%
            margin: 0 60px 0
            .img
                background-image: url('../img/zapatillas.png')
                background-size: 100%
                background-repeat: no-repeat
                background-position: 50%
                height: 180px
            .title
                background-color: blue
                width: 110px
                margin-top: 10px
                color: white
                text-transform: uppercase
                padding: 5px
            .text
                margin-top: 10px