.header-container
    position: fixed
    top: 0
    display: flex
    flex-direction: row
    width: 100%
    height: 100px
    background-color: white
    z-index: 20
    .curra-y-corre
        width: 50%
        height: auto
        display: flex
        align-items: center
        .logo
            background-image: url('../img/logo.png')
            background-repeat: no-repeat
            background-size: 450px
            height: 70px
            width: 450px
            margin: 0 auto
    .menu-points
        display: flex
        flex-direction: row
        align-items: center
        width: 50%
        text-transform: uppercase
        .menu-text
            color: #0b1c32
            text-align: left
            font-size: 18px
            margin-right: 40px
            &.menu-club
                background-image: url('../img/boton_club.png')
                background-repeat: no-repeat
                background-size: 100px
                height: 69px
                width: 100px
                color: white
                margin-right: 0
                display: flex
                align-items: center
                padding-left: 8px
.home-container
    width: 70%
    margin: 100px auto 0
    display: flex
    flex-direction: row
    height: 475px
    .home-text-block
        width: 55%
        display: flex
        flex-direction: column
        justify-content: center
        .home-text
            background-color: #0e1c30
            color: white
            text-align: left
            font-size: 40px
            text-transform: uppercase
            padding: 0 10px
            &.first
                width: 590px
            &.second
                width: 300px
            &.third
                width: 565px
            &.fourth
                width: 370px
    .home-logo
        background-image: url('../img/slider.png')
        background-repeat: no-repeat
        background-position: right
        background-size: 475px
        height: 340px
        width: 45%
        margin-top: 65px

.quedadas-container, .productos-container, .todas-ventajas-container
    text-transform: uppercase
    background-color: #f4f4f4
    .title-section
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 100%
        height: 150px
        text-align: center
        font-size: 40px
        line-height: 1.7
        font-weight: bold
        .normal-text
            color: #0b1c32
        .decorated-text
            background-image: url('../img/fondo_titulo.png')
            background-repeat: no-repeat
            background-size: 250px
            width: 250px
            height: 70px
            color: white
            margin-left: 10px
    .first-row, .second-row
        height: 450px
        width: 70%
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-around
        .box
            width: 400px
            height: 80%
            background-size: cover
            background-repeat: no-repeat
            position: relative
            .box-text-container
                position: absolute
                bottom: 0
                right: 0
                height: 110px
                width: 98%
                padding: 20px 50px 0
                background-image: url('../img/fondo_titulo_quedada.png')
                font-weight: bold
                .box-title
                    font-size: 21.7px
                    line-height: 1.1
                    text-align: left
                    color: #0b1c32
                    padding-bottom: 20px
                .box-description
                    text-transform: none
                    font-size: 14px
                    font-weight: 500
                    text-align: left
                    color: #6fa742
            &.one, &.three
                background-image: url('../img/quedada1.jpg')
            &.two, &.four
                background-image: url('../img/quedada2.jpg')

.productos-container
    width: 70%
    height: auto
    margin: 0 auto
    background-color: white
    .product-box
        width: 90%
        height: 300px
        border: 1px solid #e5e5e5
        margin: 20px auto
        display: flex
        flex-direction: row
        align-items: center
        .product-img
            background-repeat: no-repeat
            background-position: center
            background-size: 200px
            width: 50%
            height: 257px
            &.camiseta
                background-image: url('../img/camiseta.png')
            &.mallas
                background-image: url('../img/mallas.jpg')
            &.calcetines
                background-image: url('../img/calcetines.png')
            &.gorra
                background-image: url('../img/gorra.jpg')
        .product-info
            display: flex
            flex-direction: column
            padding: 30px 10px 30px 0px
            .product-title
                color: #0b1c32
                font-size: 25px
            .product-description
                color: #adadad
                font-size: 15px
                text-transform: none
            .product-selection
                display: flex
                flex-direction: row
                margin-top: 25px
                font-size: 15px
                color: #0b1c32
                .product-quantity-container
                    display: flex
                    flex-direction: column
                    .number-container
                        display: flex
                        flex-direction: row
                        padding-top: 4px
                        .arrows
                            display: flex
                            flex-direction: column
                            margin-left: 5px
                            .arrow
                                background-position: center
                                background-repeat: no-repeat
                                background-size: 10px
                                width: 10px
                                height: 10px
                                cursor: pointer
                                &.up
                                    background-image: url('../img/flecha1.png')
                                &.down
                                    background-image: url('../img/flecha2.png')
                .product-size
                    display: flex
                    flex-direction: column
                    margin-left: 50px
                    font-size: 15px
                    color: #0b1c32
                    .size-text
                    .numbers
                        display: flex
                        flex-direction: row
                        color: #adadad
                        padding-top: 4px
                        .number
                            padding-right: 10px
                            cursor: pointer
                            &.active
                                color: #0b1c32
            .add-button
                display: flex
                flex-direction: row
                margin-top: 25px
                .button-text
                    background-color: #e0051a
                    color: white
                    height: 35px
                    width: 170px
                    text-align: center
                    line-height: 35px
                    cursor: pointer
                .old-price
                    color: #c8c8c8
                    font-size: 35px
                    line-height: 35px
                    text-decoration: line-through
                    margin: 0 15px
                .free-price
                    color: #45ab34
                    font-size: 15px
                    line-height: 45px

.todas-ventajas-container
    background-color: white
    width: 60%
    margin: 0 auto
    display: flex
    flex-direction: column
    text-transform: uppercase
    .first-row-ventajas, .second-row-ventajas
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 30px
        .box
            display: flex
            flex-direction: column
            width: 20%
            text-align: center
            color: #0b1c32
            .box-img
                background-position: center
                background-repeat: no-repeat
                background-size: 100px
                width: 100px
                height: 140px
                margin: 0 auto
                &.discount
                    background-image: url('../img/icono1.png')
                &.real-test
                    background-image: url('../img/icono2.png')
                &.presents
                    background-image: url('../img/icono3.png')
                &.merchandising
                    background-image: url('../img/icono4.png')
                &.bolsa-corredor
                    background-image: url('../img/icono5.png')
                &.much-more
                    background-image: url('../img/icono6.png')
            .box-title
                margin: 0 auto
                font-size: 20px
            .box-description
                text-transform: none
                font-size: 15px
                margin: 0 auto
    .todas-ventajas-img
        background-image: url('../img/bolsa.png')
        background-position: center
        background-repeat: no-repeat
        background-size: 500px
        height: 500px
        width: 500px
        margin: 0 auto

.footer-container
    width: 100%
    height: 500px
    background-color: #51ae3b
    padding: 25px 0
    text-align: center
    color: white
    .footer-row-main
        display: flex
        flex-direction: row
        margin: 0 auto
        align-items: center
        justify-content: center
        .social-links
            display: flex
            flex-direction: column
            padding-right: 28px
            margin-left: 40px
            border-right: 2px solid white
            .hashtag
                background-image: url('../img/logo_tomtom.jpg')
                background-position: center
                background-repeat: no-repeat
                background-size: 120px
                height: 35px
                width: 125px
            .social-icons
                display: flex
                flex-direction: row
                .social-logo
                    background-position: center
                    background-repeat: no-repeat
                    background-size: 25px
                    height: 25px
                    width: 25px
                    cursor: pointer
                    margin: 0 3px
                    &.facebook
                        background-image: url('../img/icono_fb.png')
                        background-size: 15px
                        height: 30px
                    &.twitter
                        background-image: url('../img/icono_tw.png')
                    &.youtube
                        background-image: url('../img/icono_youtube.png')
                    &.instagram
                        background-image: url('../img/icono_instagram.png')
        .joma-logo
            background-image: url('../img/logo_footer.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 200px
            height: 100px
            width: 185px
    .footer-text
        font-size: 15px
        margin-top: 15px
    .footer-row-colaborators
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 5px
        .tomtom
            background-image: url('../img/logo_tomtom.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 135px
            height: 35px
            width: 135px
        .alphabet
            background-image: url('../img/logo_alphabet.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: 120px
            height: 35px
            width: 120px
    .footer-logo-federation
        background-image: url('../img/logo_rfea.jpg')
        background-position: center
        background-repeat: no-repeat
        background-size: 120px
        height: 100px
        width: 120px
        margin: 10px auto
    .footer-terms
        display: flex
        flex-direction: row
        text-transform: uppercase
        cursor: pointer
        justify-content: center
        .term-text
            font-size: 18px
            margin-top: 30px
            margin-left: 8px
            span
                margin-left: 8px

.call-to-action
    position: fixed
    right: 0
    top: 400px
    z-index: 15
    background-image: url('../img/boton_unete.png')
    background-position: center
    background-repeat: no-repeat
    background-size: 300px
    height: 200px
    width: 300px
    color: white
    cursor: pointer
    .call-to-action-text
        display: flex
        flex-direction: column
        text-align: right
        padding-right: 20px
        padding-top: 65px
        .call-to-action-title
            text-transform: uppercase
            font-size: 22px
            padding-right: 7px
        .call-to-action-subtitle
            font-size: 14px

@media screen and (max-width: 1600px)
    .home-container
        width: 80%
        .home-text-block
            width: 55%
        .home-logo
            background-size: 475px
            width: 45%

@media screen and (max-width: 1350px)
    .header-container
        .curra-y-corre
            width: 40%
            .logo
                background-size: 300px
                width: 300px
                height: 45px
        .menu-points
            width: 60%
    .home-container
        .home-text-block
            width: 50%
            .home-text
                font-size: 30px
                &.first
                    width: 450px
                &.second
                    width: 230px
                &.third
                    width: 430px
                &.fourth
                    width: 285px
        .home-logo
            background-size: 440px
            width: 50%
    .quedadas-container
        .first-row, .second-row
            width: 90%
    .todas-ventajas-container
        width: 80%
        .first-row-ventajas, .second-row-ventajas
            .box
                width: 30%
    .productos-container
        width: 80%

@media screen and (max-width: 1110px)
    .header-container
        .menu-points
            .menu-text
                display: none
                &.menu-club
                    display: none
    .home-container
        width: 100%
        flex-direction: column-reverse
        align-items: center
        height: auto
        .home-text-block
            width: initial
            align-items: center
            .home-text
                font-size: 30px
                &.first
                    width: 450px
                &.second
                    width: 230px
                &.third
                    width: 430px
                &.fourth
                    width: 285px
        .home-logo
            background-size: 500px
            width: 500px
            height: 500px
            margin-top: 0
    .quedadas-container
        .first-row, .second-row
            width: 100%
            .box
                width: 370px
    .todas-ventajas-container
        width: 95%
        .title-section
            font-size: 35px
            line-height: 2
    .productos-container
        width: 95%
        .product-box
            .product-img
                background-size: 170px
                height: 200px
            .product-info
                .add-button
                    .button-text
                        width: 110px
    .footer-container
        height: 460px
        .footer-terms
            .term-text
                font-size: 14px

@media screen and (max-width: 767px)
    .home-container
        .home-text-block
            width: 100%
            .home-text
                font-size: 23px
                text-align: center
                &.first
                    width: 100%
                &.second
                    width: 100%
                &.third
                    width: 100%
                &.fourth
                    width: 100%
        .home-logo
            background-size: 330px
            width: 330px
            height: 330px
    .quedadas-container
        .first-row, .second-row
            flex-direction: column
            align-items: center
            height: 700px
            .box
                margin-top: 25px
    .todas-ventajas-container
        width: 100%
        .title-section
            flex-direction: column
        .first-row-ventajas, .second-row-ventajas
            flex-direction: column
            margin: 0
            .box
                width: 50%
                margin: 20px auto
        .todas-ventajas-img
            background-size: 325px
            width: 100%
            height: 325px
    .productos-container
        .title-section
            flex-direction: column
            margin-top: 30px
        .product-box
            flex-direction: column
            height: auto
            width: 100%
            margin-top: 70px
            .product-img
                background-size: 150px
                height: 200px
                &.calcetines, &.gorra
                    background-size: 170px
            .product-info
                padding: 0 50px 30px
                .product-selection
                    .product-size
                .add-button
                    flex-direction: column
                    .button-text
                        margin: 0 auto
                    .old-price
                        margin: 20px auto
                    .free-price
                        margin: 0 auto
    .footer-container
        height: 500px
        .footer-terms
            flex-direction: column
            .term-text
                margin-top: 0
                span
                    display: none
    .call-to-action
        background-size: 250px
        height: 165px
        width: 250px
        .call-to-action-text
            padding-right: 8px
            padding-top: 50px
