@font-face {
    font-family: "AkzidenzGroteskBQ-MdCnd";
    src: url("AkzidenzGrotesk-MediumCond.eot");
    src: url("AkzidenzGrotesk-MediumCond.eot?#iefix") format("embedded-opentype"),
         url("AkzidenzGrotesk-MediumCond.woff2") format("woff2"),
         url("AkzidenzGrotesk-MediumCond.woff") format("woff"),
         url("AkzidenzGrotesk-MediumCond.ttf") format("ttf"),
         url("AkzidenzGrotesk-MediumCond.svg#AkzidenzGroteskBQ-MdCnd") format("svg");
    font-style: normal;
    font-weight: normal;
}