@font-face {
    font-family: "AkzidenzGroteskBQ-BdCnd";
    src: url("AkzidenzGrotesk-BoldCond.eot");
    src: url("AkzidenzGrotesk-BoldCond.eot?#iefix") format("embedded-opentype"),
         url("AkzidenzGrotesk-BoldCond.woff2") format("woff2"),
         url("AkzidenzGrotesk-BoldCond.woff") format("woff"),
         url("AkzidenzGrotesk-BoldCond.ttf") format("ttf"),
         url("AkzidenzGrotesk-BoldCond.svg#AkzidenzGroteskBQ-BdCnd") format("svg");
    font-style: normal;
    font-weight: 700;
}