.footer-container
    .footer-row-main
        .social-links
            .hashtag
            .social-icons
                .social-logo.facebook
                .social-logo.twitter
                .social-logo.youtube
                .social-logo.instagram
        .joma-logo
    .footer-text Con la colaboración de:
    .footer-row-colaborators
        .tomtom
        .alphabet
    .footer-text Con el apoyo de la RFEA:
    .footer-logo-federation
    .footer-terms
        .term-text aviso legal
            span |
        .term-text política de privacidad
            span |
        .term-text política de cookies
            span |
        .term-text prensa
            span |
        .term-text.no-vertical info@curraycorre.com