.header-container
    .curra-y-corre
        a(href="../index.html")
            .logo
    .menu-points
        .menu-text manifiesto
        .menu-text historias
        .menu-text #newscurranner
        .menu-text.menu-club el club