.home-container
    .home-text-block
        .home-text.first un club donde disfrutar
        .home-text.second del running
        .home-text.third mientras luchamos por
        .home-text.fourth la conciliación
    .home-logo