.quedadas-container
    .title-section
        .normal-text nuestras
        .decorated-text quedadas
    .first-row
        .box.one
            .box-text-container
                .box-title próxima quedada
                .box-description Quedaremos frente al método fenómeno, donde nos dispondremos a conciliar.
        .box.two
            .box-text-container
                .box-title 2ª quedada
                .box-description Hemos tenido el honor de conciliar junto a Fructuoso López, fundador de Joma.
    .second-row
        .box.three
            .box-text-container
                .box-title 3ª quedada
                .box-description Quedaremos frente al método fenómeno, donde nos dispondremos a conciliar.
        .box.four
            .box-text-container
                .box-title 4ª quedada
                .box-description Hemos tenido el honor de conciliar junto a Fructuoso López, fundador de Joma.