extends home

block content
    include ../_partials/info-statics/disfruta-bolsa
    include ../_partials/info-statics/productos
    include ../_partials/info-statics/ademas
    include ../_partials/main-content/footer