extends home

block content
    include ../_partials/info-statics/unete-corre
    include ../_partials/info-statics/todas-ventajas
    include ../_partials/form-content/unete-ahora-desplegado
    include ../_partials/main-content/footer