.disfruta-bolsa-container
    .ventajas-bolsa.col-lg-7.col-md-6
    .ventajas-content.col-lg-5.col-md-6
        .title-text
            p disfruta de
            p ser curraner
        .price-text-container
            .price-text bolsa de curraner
            .price-number 10 €