.imagenes-container
    .club-img.one.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.two.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.three.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.four.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.five.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.six.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.seven.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .club-img.eight.col-lg-3.col-md-4.col-sm-4.col-xs-6
    .black-mask
    .text-container
        .first-row
            .with-text el club
            .without-text
        .second-row en imágenes
