.productos-container
    .title-section
        .normal-text ventajas de ser
        .decorated-text curraner
    .product-box
        .product-img.camiseta
        .product-info
            .product-title camiseta curra y corre
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-quantity-container
                    .quantity cantidad
                    .number-container
                        .number 1
                        .arrows
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active 32
                        .number 34
                        .number 36
                        .number 38
                        .number 40
            .add-button
                .button-text añadir
                .old-price 34€
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.mallas
        .product-info
            .product-title mallas
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-quantity-container
                    .quantity cantidad
                    .number-container
                        .number 1
                        .arrows
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active 32
                        .number 34
                        .number 36
                        .number 38
                        .number 40
            .add-button
                .button-text añadir
                .old-price 27€
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.calcetines
        .product-info
            .product-title calcetines
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-quantity-container
                    .quantity cantidad
                    .number-container
                        .number 1
                        .arrows
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active S
                        .number M
                        .number L
            .add-button
                .button-text añadir
                .old-price 12€
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.gorra
        .product-info
            .product-title gorra
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-quantity-container
                    .quantity cantidad
                    .number-container
                        .number 1
                        .arrows
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active XS
                        .number S
                        .number M
                        .number L
                        .number XL
            .add-button
                .button-text añadir
                .old-price 29€
                .free-price gratis comprando tu bolsa