.productos-container
    .title-section
        .normal-text ventajas de ser
        .decorated-text curraner
    .product-box
        .product-img.camiseta
        .product-info
            .product-title camiseta curra y corre
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active 32
                        .number 34
                        .number 36
                        .number 38
                        .number 40
                .tick
            .add-button
                .button-text
                    span 34€
                    .joma-sport-url en joma-sport.com
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.mallas
        .product-info
            .product-title mallas
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active 32
                        .number 34
                        .number 36
                        .number 38
                        .number 40
                .tick
            .add-button
                .button-text
                    span 27€
                    .joma-sport-url en joma-sport.com
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.calcetines
        .product-info
            .product-title calcetines
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active S
                        .number M
                        .number L
                .tick
            .add-button
                .button-text
                    span 12€
                    .joma-sport-url en joma-sport.com
                .free-price gratis comprando tu bolsa

    .product-box
        .product-img.gorra
        .product-info
            .product-title gorra
            .product-description esta es la descripción de la camiseta de curra y corre. esta es la descripción de la camiseta de curra y corre.
            .product-selection
                .product-size
                    .size-text elige tu talla
                    .numbers
                        .number.active XS
                        .number S
                        .number M
                        .number L
                        .number XL
                .tick
            .add-button
                .button-text
                    span 29€
                    .joma-sport-url en joma-sport.com
                .free-price gratis comprando tu bolsa