.todas-ventajas-container
    .title-section
        .normal-text ventajas de ser
        .decorated-text curraner
    .first-row-ventajas
        .box
            .box-img.discount
            .box-title descuento del 20%
            .box-description en la compra de cualquier producto en la web de joma-sport.com
        .box
            .box-img.real-test
            .box-title prueba real
            .box-description de producto especializado para running
        .box
            .box-img.presents
            .box-title regalos
            .box-description exclusivos de la marca solo para ti
    .second-row-ventajas
        .box
            .box-img.merchandising
            .box-title merchandising
            .box-description acceso a merchandising exclusivo diseñado por joma
        .box
            .box-img.bolsa-corredor
            .box-title bolsa del corredor
            .box-description Entrega de una "bolsa del corredor" al afiliarse al club. Esta bolsa tendrá un coste simbólico de 10€
        .box
            .box-img.much-more
            .box-title y mucho más
            .box-description y muchas cosas pensadas para ti. Únete
    .todas-ventajas-img

