.ventajas-container
    .ventajas-bolsa.col-lg-7.col-md-6
    .ventajas-content.col-lg-5.col-md-6
        .title-text
            p ventajas
            p del
            p club
        a(href="/_layouts/unete1.html")
            .main-button
                .main-button-text únete