extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/main.css")

block content
    //include _partials/main-content/header
    //include _partials/main-content/home
    //include _partials/main-content/quedadas
    //include _partials/info-statics/unete
    //include _partials/info-statics/ventajas
    //include _partials/info-statics/imagenes
    //include _partials/main-content/footer
    //include _partials/main-content/call-to-action

    //include _partials/info-statics/ademas
    //include _partials/info-statics/todas-ventajas
    //  include _partials/info-statics/disfruta-bolsa
    include _partials/info-statics/productos

block body_end
    // script(type="text/javascript" src="/js/script.js")