extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/main.css")

block content
    include _partials/header
    include _partials/introduction
    // include _partials/quedadas

block body_end
    script(type="text/javascript" src="/js/script.js")