extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/main.css")

block content
    include _partials/info-statics/todas-ventajas
    include _partials/info-statics/disfruta-bolsa
    include _partials/info-statics/productos
    include _partials/main-content/quedadas
    include _partials/info-statics/unete
    include _partials/info-statics/ventajas
    include _partials/info-statics/imagenes

block body_end
    // script(type="text/javascript" src="/js/script.js")