extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/main.css")

block content
    include _partials/info-statics/unete
    // include _partials/main-content/header
    // include _partials/main-content/introduction
    // include _partials/quedadas

block body_end
    script(type="text/javascript" src="/js/script.js")