extends _layouts/home

block content
    include _partials/form-content/unete-ahora-desplegado
    //- include _partials/main-content/home
    //- include _partials/main-content/quedadas
    //- include _partials/info-statics/unete
    //- include _partials/info-statics/ventajas
    //- include _partials/info-statics/imagenes
    //- include _partials/main-content/footer