header
    .logo
        .joma-img
    .navbar
        #manifiesto.menu-point.active manifiesto
        #historias.menu-point historias
        #hashtag.menu-point newscurrunner
        #elclub.menu-point el club