.header
    .logo.col-xs-4.col-xs-offset-1
        .joma-img
    .navbar.col-xs-6
        #manifiesto.menu-point.active manifiesto
        #historias.menu-point historias
        #hashtag.menu-point #newscurrunner
        #elclub.menu-point el club