.introduction-container.col-xs-12
    .main-content.col-xs-5.col-xs-offset-6
        .ccc-logo
        .text
            .title
                p Un club donde disfrutar
                p del running
            .subtitle Mientras luchamos por la conciliación