.quedadas-container
    .column
        .quedadas-block
            .img
            .title Próxima quedada
            .text Quedaremos frente al método fenómeno, donde nos dispondremos a conciliar...
        .quedadas-block
            .img
            .title 2ª quedada
    .column
        .quedadas-block
            .img
            .title 3ª quedada
            .text Hemos tenido el honor de conciliar junto a Fructuoso López, fundador de Joma. Nos ha contado anécdotas sobre esta marca.
        .quedadas-block
            .img
            .title 1ª quedada